body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--main-color)
}
:root {
    --main-color: #434455;
    --link-color: #2e2f42;
}
    
ul {
    list-style-type: none;
}

/* site nav */
.link {
    color: var(--iris, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17
}
.link-header {
    color: var(--navyblue, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17
}

list {
    list-style: none;
}
.list-navigation-item {
    color: var(--link-color);
    font-weight: 500
    font-size: 16px
    line-height: 1.5
    letter-spacing: 0.02em
    text-decoration: none
}

.list-navigation-item:focus {
    color: var(--ocean, #404bbf);
}

.list-navigation-item:hover {
    color: var(--ocean, #404bbf);
}
.adress_list_item {
    color: var(--slate, #434455);
    font-style: normal
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.adress_list_item:hover {
    color: var(--ocean, #404BBF);
}

.adress_list_item:focus {
    color: var(--ocean, #404BBF);
}
/* main */
.hero{
    background: var(--navyblue, #2E2F42);
}
h1 {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.hero-button {
    background: var(--iris, #4D5AE5);
}
.hero-button:hover {
    background: var(--ocean, #404BBF);
}
.hero-button:focus {
    background: var(--ocean, #404BBF);
}
.hero-button-text {
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

h3 {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
p {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

h2 {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section-our-team {
    background: var(--cloud, #F4F4FD);
}
/* footer */
.footer {
    background: var(--navyblue, #2E2F42);
}

.link-footer {
    color: var(--cloud, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.text-footer {
    color: var(--cloud, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* portfolio */
.btn-tab-list {
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

.btn-tab-list:hover {
    background: var(--ocean, #404BBF);
}

.button-text {
    color: var(--iris, #4D5AE5);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.button-text:hover {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.button-text:focus {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}